@import 'src/assets/variables.scss';

.parent-cont {
  // max-width: 100vw;
  margin: 1em;
}

.links-container {
  // height: 100vh;
  // width: 86vw;
  background-color: $dark-grey-bg;
  // border-color: $light-grey-bg;
  // border-style: solid;
  // border-width: 0.25rem;
  border-radius: 12px;
  // position: absolute;
  // z-index: 2;
  padding: 6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    'a a b b'
    'a a c c'
    'd d e e';
  gap: 1.5rem;

  // align-items: center;
  // justify-content: center;
  a {
    font-family: 'Poppins';
    font-size: 2rem;
    background-color: $black-100;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: grid;
    align-items: center;
    color: $black-1000;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s ease;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  a:hover {
    background-color: $black-700;
    // color: $black-100;
    transform: scale(1.02);
  }

  a:nth-child(1) {
    grid-area: a;
    background-image: linear-gradient(#e3e3efb1, #e3e3efb1), url(../../../assets/link_hub/mars.png);

    &:hover {
     background-image: linear-gradient(transparent, #e3e3ef3b), url(../../../assets/link_hub/mars.png);
      text-shadow: 0px 0px 10px $black-1000;
      color: $font-white;

    }
  }

  a:nth-child(2) {
    grid-area: b;
    background-image: linear-gradient(#e3e3efb1, #e3e3efb1), url(../../../assets/link_hub/solar.png);

    &:hover {
     background-image: linear-gradient(transparent, #e3e3ef3b), url(../../../assets/link_hub/solar.png);
      text-shadow: 0px 0px 10px $black-1000;
      color: $font-white;

    }
  }

  a:nth-child(3) {
    grid-area: c;
    background-image: linear-gradient(#e3e3efb1, #e3e3efb1), url(../../../assets/link_hub/stage.png);

    &:hover {
     background-image: linear-gradient(transparent, #e3e3ef3b), url(../../../assets/link_hub/stage.png);
      text-shadow: 0px 0px 10px $black-1000;
      color: $font-white;


    }
  }

  a:nth-child(4) {
    grid-area: d;
    background-image: linear-gradient(#e3e3efb1, #e3e3efb1), url(../../../assets/link_hub/apod.jpg);

    &:hover {
     background-image: linear-gradient(transparent, #e3e3ef3b), url(../../../assets/link_hub/apod.jpg);
      text-shadow: 0px 0px 10px $black-1000;
      color: $font-white;


    }
  }

  a:nth-child(5) {
    grid-area: e;
    background-color: $black-700;
    background-image: linear-gradient(#e3e3efb1, #e3e3efb1), url(../../../assets/link_hub/logo.png);

    &:hover {
      background-image: linear-gradient(transparent, #e3e3ef3b), url(../../../assets/link_hub/logo.png);
      text-shadow: 0px 0px 10px $black-1000;
      color: $font-white;

    }

    // Boxes placement
  }

  .mars-li {
    grid-area: a;
  }

  .solar-li {
    grid-area: b;
  }

  .stage-li {
    grid-area: c;
  }

  .about-li {
    grid-area: e;
  }

  .apod-li {
    grid-area: d;
  }
}

@media (max-width: 900px) {
  .links-container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 250px);
    grid-template-areas:
      'a a'
      'b b'
      'c c'
      'd d'
      'e e';

    a {
      font-size: 1.5rem;
    }
  }
}