@import 'src/assets/variables.scss';

.headerNav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  border-bottom: 2px solid $primary-blue;
  border-radius: 0 0 1.5rem 1.5rem;
  .links {
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
      p {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        &:hover {
          border-color: $primary-color;
          transition: 0.3s ease border-color;
          cursor: pointer;
        }
      }
      a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        &:hover {
          border-color: $primary-color;
          transition: 0.3s ease border-color;
          cursor: pointer;
        }
      }
    }
  }
  .logoLink {
    .logo {
      max-width: 65%;
      padding: 7px 0 0 0;
    }
  }
}
