.solar {
  canvas {
    // height of navbar
    // maybe global variable for navbar height?
    height: calc(100vh - 55.6px);
    background-color: black;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .planetName {
    font-family: Poppins;
    font-size: 4px;
    // no text highlight
    user-select: none;
    button {
      color: rgba($color: #ffffff, $alpha: 1);
      background-color: rgba($color: #000000, $alpha: 0.5);
      border: none;
      border-radius: 6px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
  .planetInfo {
    position: absolute;
    z-index: 15;
    top: 40%;
    right: 4px;
    width: 30%;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.8);
    padding: 8px 12px;
    border-radius: 8px;
    .planetInfoLinks {
      display: flex;
      gap: 8px;
      justify-content: center;
      padding: 6px;
      a {
        text-decoration: none;
        color: white;
        padding: 4px 8px;
        border-radius: 8px;
        border: 2px solid lightseagreen;
        &:hover {
          background-color: lightseagreen;
        }
      }
    }
  }
  .menu {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    gap: 14px;
    border-color: #0088ff;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-radius: 8px 8px 0 0;
    padding: 4px 4px 0;
    button {
      background-color: rgba($color: #ffffff, $alpha: 0.2);
      font-size: 18px;
      border-radius: 4px;
      color: white;
      border-color: transparent;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
      }
    }
    div {
      display: flex;
      gap: 3px;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .animateSnapCamera {
    animation: fade-in 1.5s ease-out;
  }
}
