.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.abslouteText {
  position: relative;
  top: 70px;
  z-index: 10;
}
