@import 'src/assets/variables.scss';
h2 {
  margin: 4px 0;
}
p {
  margin: 4px 0;
}
.apodContainer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.apodContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey-bg;
  border-color: $light-grey-bg;
  border-style: solid;
  border-width: 0.25rem;
  margin: 0 5.8rem;
  padding: 2rem;
  border-radius: 30px;
}
.apodImageContainer {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  gap: 1rem;
}
.apodImage {
  object-fit: cover; // or maybe object-fit: contain;
  height: auto;
  border-radius: 1rem;
}
.apodImageCol {
  flex: 50%;
  max-width: 50%;
}
.apodInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apodButtons {
  button {
    background-color: $dark-grey-bg;
    border: 2px solid $accent-blue;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 13px 24px;
    margin: 0.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0px 2px 16px 0px #0088ff;
    }
  }
}

.filter-btn {
  background-color: $light-grey-bg;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins';
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 12px;
  border: 2px solid $accent-blue;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 0px 2px 16px 0px #0088ff;
  }
}
//span
.datesSpan {
  color: $font-white;
  font-family: 'Poppins';
  font-size: 1rem;
}

//FETCHED IMAGES
.image-div {
  height: 250px;
  width: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
}
.fetched-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.625rem;
}
.dates-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.date-input {
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Poppins';
  border-radius: 6px;
}
