.main {
  canvas {
    cursor: grab;
    height: calc(100vh - 55.6px);
    background-color: #d2d2d2;
    border-radius: 8px;
  }

  .infoPanel {
    user-select: none;
    width: 300px;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgba($color: #000000, $alpha: .6);
  }
}