.main {
  canvas {
    cursor: grab;
    height: calc(100vh - 55.6px);
    background-color: #d2d2d2;
    border-radius: 8px;

    &:active {
      cursor: grabbing;
    }
  }

  .infoHTML {
    z-index: 5;
  }

  .infoPanel {
    user-select: none;
    width: 300px;
    font-size: 20px;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }

  .galleryButtons {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    z-index: 20;

    button {
      display: flex;
      border-radius: 8px;
      border: none;
      padding: 4px 6px;
      font-size: 24px;
      cursor: pointer;
      background-color: #000000;
      color: white;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }

  .links {
    position: absolute;
    left: 0;
    top: 35%;
    font-size: 18px;
    z-index: 15;

    .toggle {
      display: flex;
      border-radius: 0 8px 8px 0;
      border: none;
      padding: 4px 6px;
      font-size: 18px;
      cursor: pointer;
      background-color: #000000;
      color: white;
      margin: 4px 0;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }
    }

    .linksBar {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin: 0;
      }

      .linksTopBox {
        background-color: #000000;
        padding: 4px 12px;
        border-radius: 8px 8px 0 0;
      }

      .linksCol {
        background-color: #000000;
        border-radius: 0 16px 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 10px;
        min-width: 8vw;

        a {
          text-decoration: none;
          color: white;
          padding: 4px 8px;
          border-radius: 8px;
          border: 2px solid #0088ff;

          &:hover {
            background-color: #0088ff;
          }
        }
      }
    }
  }

  .markersHTML {
    z-index: 1;
  }

  .circleIcon {
    cursor: pointer;
    background-color: transparent;
    border-radius: 1px 75% 75% 75%;
    width: 16px;
    height: 16px;
    border: #0088ff 2px solid;
    background-color: rgba($color: #0088ff, $alpha: 0.2);

    &:hover {
      background-color: #0088ff;
      transition: all 0.5s ease-out;
    }
  }

  .markerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    user-select: none;
  }

  .markerName {
    position: absolute;
    font-size: 24px;
    left: 24px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: white;
    padding: 1px 8px;
    margin: 0;
    border-radius: 6px;

  }
}