$primary-blue: rgb(0, 136, 255);
$primary-grey: rgb(102, 112, 128);
$primary-color: rgb(0, 136, 255);
$secondary-color: rgb(0, 255, 149);

//BLACKS
$black-100: #e3e3ef;
$black-300: #8f90af;
$black-500: #464775;
$black-700: #24254e;
$black-1000: #081122;

//Colour palette
$primary-light: #55588c;
$secondary-neutral: #e2dad8;
