@import 'src/assets/variables.scss';

.landscapes {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  justify-content: center;
  h2 {
    text-align: center;
  }
  .canvas canvas {
    height: 80vh;
    width: 100%;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .show {
    display: initial;
  }
  .hide {
    display: none;
  }
  .landButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.6rem;
    button {
      font-size: 32px;
      border-radius: 4px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  .landElement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba($color: #ffffff, $alpha: 0.05);
    border-radius: 1rem;
    .landInfo {
      flex-basis: 45%;
      padding: .5rem;
      p {
        white-space: pre-wrap;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .landscapes {
    .landElement {
      flex-direction: column;
    }
  }
}
