@import 'src/assets/variables.scss';

// Landscapes
.landscapes {
  margin: 2rem;
  h2 {
    text-align: center;
  }
}
.landscapeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .landscapeElem {
    display: flex;
    gap: 1.5rem;

    background-color: #0d0d0d;
    border-radius: 1rem;

    .landscapeInfo {
      flex-basis: 30%;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        white-space: pre-wrap;
      }
    }
    .landscapeCanvas {
      min-height: 82vh;
      flex-basis: 70%;
    }
  }
}
