body {
  color: white;
}

p {
  font: 300 16px/2 'Poppins', sans-serif;
}

h1 {
  margin: 4px 0;
  font: 72px 'Playfair Display', serif;
}

h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}
