@import 'src/assets/variables.scss';

.main {
  color: white;
  p {
    font: 300 16px/2 'Poppins', sans-serif;
  }

  h1 {
    margin: 4px 0;
    font: 72px 'Playfair Display', serif;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .canvasContainer {
    height: 100vh;
    background-image: url('/src/assets/mars/2k_stars.jpg');
    background-color: black; /* Backup background */
  }
  
  .overviewContainer {
    position: relative;
  }
  
  .overviewInfo {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    width: 40%;
    padding-right: 2em;
    p {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .heading {
    color: white;
  }

  @media screen and (max-width: 1000px) {
    h1,h2 {
      font-size: 32px;
    }
    .overviewInfo {
      p{
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .overviewInfo {
      bottom: 0;
      left: 50%;
      width: 90%;
      transform: translate(-50%, 0);
    }
  }
}


