* {
  color: white;
}

h1 {
  margin: 4px 0;
  font: 72px 'Playfair Display', serif;
}

h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  font: 300 16px/2 'Poppins', sans-serif;
}

#canvas-container {
  height: 100vh;
  background-image: url('/src/assets/2k_stars.jpg');
  /* Backup background */
  background-color: black;
}

#overview-container {
  position: relative;
}

#overview-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 45%;
  padding-right: 2em;
}
#overview-info p {
  font-size: 24px;
  line-height: 36px;
}