.roverForm {
  transition: all 0.8s ease;
  background-color: #0d0d0d;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 68vh;
  flex-direction: row;
  gap: 2em;
  border-radius: 1rem;
  .formInfoPanel {
    form {
      label {
        margin: 8px 0;
      }
      display: flex;
      flex-direction: column;
      input[type='number'],
      select {
        padding: 4px;
        font-size: inherit;
        font-family: inherit;
        border: none;
        border-radius: 4px;
        background-color: #1e1e1e;
        color: white;
        text-align: center;
      }
      select {
        cursor: pointer;
      }
      // Remove arrows from input number field
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='submit'] {
        font-size: inherit;
        font-family: inherit;
        margin: 12px 0;
        border-radius: 4px;
        background-color: #1e1e1e;
        color: white;
        padding: 8px;
        border: 2px solid #0088ff;
        cursor: pointer;
      }
    }
  }
  .photoTagsPanel {
    flex-basis: 50%;
    .photoContainer {
      .photoTags {
        span {
          font-family: inherit;
        }
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 8px;
      }
      background-color: #131313;
      border-radius: 8px;
      padding: 12px;

      img {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
      }
      .stepsContainer {
        span {
          font-family: inherit;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        button {
          display: flex;
          font-size: 32px;
          border-radius: 4px;
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .roverForm {
    flex-direction: column;
  }
}
