@import 'src/assets/variables.scss';
//MAIN FORM DIV
.account-form {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 620px;
  margin: 0 auto;
  background-color: $font-white;
  display: flex;
  // align-items: center;
  gap: 2rem;
  max-width: 40rem;
  border-radius: 24px;
  overflow: hidden;
}
//Welcome part
.welcome-part {
  padding: 1.25em;
  background-color: $new-black-full;
  display: flex;
  flex-direction: column;
  background-image: url(src/assets/account/images/Wave1.svg), url(src/assets/account/images/Wave2.svg);
  background-position: left 10% bottom, right bottom 50%;
  background-repeat: no-repeat;
  h3 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
  }
  h3:nth-child(1),
  h3:nth-child(2) {
    font-size: 48px;
    margin: 5px 0;
  }
  h3:nth-child(3) {
    font-size: 64px;
    margin: 5px 0 42px;
  }
  img {
    width: 102px;
    height: 102px;
    align-self: center;
  }
}
// WAVES
#wave-1 {
  position: relative;
  bottom: 0;
  left: 0;
}
#wave-2 {
  position: relative;
  bottom: 0;
  left: 0;
}
// INPUT PART
.input-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 3.25rem 0 3.25rem;
}
// INPUT FIELDS
.input-field {
  border-width: 3px;
  border-color: $dark-grey-bg;
  border-radius: 8px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  outline: none;
}
//TABS
.tabs {
  display: flex;
  margin: 0 auto 1.5rem;
  width: fit-content;
  list-style: none;
  gap: 3rem;
}
.inactive-tab {
  background-color: none;
  color: $new-black-full;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 400;
  border-color: #1d1e40;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}
.active-tab {
  background-color: $dark-grey-bg;
  border: 3px solid $accent-blue;
  color: $font-white;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 400;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.loginForm label,
.registerForm label {
  align-self: flex-start;
  color: $new-black-full;
  font-family: 'Poppins';
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.button {
  background-color: $new-black-full;
  color: $font-white;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 1.25rem;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
#google-button {
  color: $new-black-full;
  background-color: $font-white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  width: fit-content;
  cursor: pointer;
}

//PROFILE
.profile-tile {
  margin: 2rem auto 0;
  width: max-content;
  padding: 1rem 4rem;
  background-color: $dark-grey-bg;
  border-color: $light-grey-bg;
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 195px;
    width: 195px;
  }
  .profile-header {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 700;
  }
  p {
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: $font-white;
  }
}

.saved-images {
  background-color: $dark-grey-bg;
  border-radius: 30px;
  border-color: $light-grey-bg;
  border-style: solid;
  border-width: 0.25rem;
  padding: 2rem;
  margin: 5rem 5rem 7.5rem;
  .images-header {
    font-family: 'Poppins';
    color: $font-white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
}
.image-card {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s linear;
  background-color: $light-grey-bg;
  // box-shadow: -10px 13px 24px -12px rgb(88, 132, 214);
  border-radius: 30px;
  padding: 1rem 0.75rem;
  cursor: pointer;
  p {
    color: $font-white;
  }
  button {
    // display: none;
    border-radius: 30px;
    background-color: #2c8b4c;
    color: $black-100;
    // border-color: $black-700;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-30px);
    background-color: $font-white;
    box-shadow: -2px 6px 29px 0px $accent-blue;
  }
  &:hover .image-title {
    color: $light-grey-bg;
  }
}
.image-title {
  text-align: center;
  width: 100%;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 0.875rem;
}
.fetched-photo {
  max-height: 200px;
  width: auto;
}
.card-visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}
.image-desc {
  display: none;
}

#remove-btn {
  background-color: rgb(229, 74, 74);
}

@media (max-width: 614px) {
  .saved-images {
    margin: 5rem 0 7.5rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
