@import 'src/assets/variables.scss';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', 'sans-serif';
  padding: 40px 109px;
  h1 {
  font-weight: 100;

    color: $font-white;
    font-size: 30px;
  }
}
.quiz-box {

  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-weight: 100;
    font-size: 30px;
    background-color: $dark-grey-bg;
    padding: 26px 100px;
    border-radius: 30px;
    border: none;
  }
  .correct {
    background-color: $green;
  }
  .incorrect {
    background-color: $red;
  }
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-weight: 100;
    font-size: 30px;
    background-color: $dark-grey-bg;
    border: none;
    padding: 26px 100px;
    border-radius: 30px;
    border: 4px solid #131313;
  }
  .answer-buttons {
    display: flex;
    gap: 60px;
    margin-bottom: 72px;
    margin-top: 24px;
    button {
      font-weight: 300;
      font-size: 30px;
      color: $black-100;
      background-color: $dark-grey-bg;
      border: 2px solid $accent-blue;
      padding: 18px 47px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s ease;
    }
    button:hover {
      border-color: $font-white;
      box-shadow: 0px 2px 20px 2px #0088ff;
      background-color: $font-white;
      color: $black-1000;
    }
  }
}
.next-question-btn {
  font-size: 30px;
  border-radius: 30px;
  border: 2px solid $accent-blue;
  color: $black-100;
  cursor: pointer;
  background-color: $dark-grey-bg;
  padding: 18px 47px;
  transition: all 0.2s ease;
  &:hover {
    border-color: $font-white;
    box-shadow: 0px 2px 20px 2px #0088ff;
    background-color: $font-white;
    color: $black-1000;
  }
}

.quiz-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.choice-buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.choice-button {
  font-family: 'Poppins', 'sans-serif';
  font-size: 30px;
  color: $black-100;
  background-color: $dark-grey-bg;
  border: 2px solid $accent-blue;
  padding: 18px 47px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    border-color: $font-white;
    box-shadow: 0px 2px 20px 2px #0088ff;
    background-color: $font-white;
    color: $black-1000;
  }
}
